# Skopiuj do .env i wypełnij wartościami

# PostgreSQL
POSTGRES_DB=streaming
POSTGRES_USER=streaming_user
POSTGRES_PASSWORD=changeme_strong_password

# Backend
SECRET_KEY=wygeneruj-losowy-klucz-min-32-znaki
HLS_BASE_URL=http://localhost:8888

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_HLS_BASE_URL=http://localhost:8888
